<div class="container">
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="portfolioForm" action="" (ngSubmit)="onSubmit()">
        <h2>Personal data</h2>

      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input id="firstName" formControlName="firstName" class="form-control input" type="text" placeholder="Enter your first name" />
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input id="lastName" formControlName="lastName" class="form-control input" type="text" placeholder="Enter your last name" />
      </div>

      <div class="form-group">
        <label for="email">Email: </label>
        <input class="input" type="email" name="email" id="email" formControlName="email" placeholder="Enter the email"/>
    </div>
    
    <h2>Experience</h2>

    <app-experience 
      (addNewJob)="addNewExperience($event)" 
      (deleteJob)="deleteExperience($event)"
      [jobs]="jobs" 
      [nextJobId]="nextJobId"
    ></app-experience>

    <h2>Skills</h2>
    
    <app-skills 
      [skills]="skills" 
      (newSkillAdded)="onSkillAdded($event)"
      (skillDeleted)="onSkillDeleted($event)"
    ></app-skills>
  
    <button 
      type="submit" 
      class="btn btn-primary" 
      [disabled]="generateBtnDisabled"
    >
      Generate Portfolio
    </button>
    </form>
    @if (this.submitted) {
        <header>
          Portfolio Generated!
        </header>
    }
  </div>
  