/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: #111;
    color: #feffeff4;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3{
    text-align: center;
}